{% extends "base.html.twig" %}

{% block title %}Création d'une présentation{% endblock %}


{% block body %}
    <div class="container">
        <h1>Créer une nouvelle présentation</h1>
       
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle présentation</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
 
{% block javascripts %}
    
{% endblock %}