{% extends 'base.html.twig' %}

{% block title %}Edition d'un utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-3">Modifier l'utilisateur : {{user.TitreFullName}}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}
    </div>

{% endblock %}